* {
    font-family: "Share Tech Mono", system-ui;
    font-size: 1.1em;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
}

.calculator {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
}

.calculated-value {
    background-color: lightblue;
    flex-basis: 100%;
    aspect-ratio: 10;
    border: solid darkgrey;
}

div > button {
    width: 25%;
    aspect-ratio: 1;
    outline: inherit;
}

.zero {
    flex-basis: 50%;
    aspect-ratio: 0;
}

.delete,
.clear {
    flex-basis: 50%;
    aspect-ratio: 3;
    background-color: lavender;
}

.digit,
.decimal {
    background-color: lightgreen;
}

.operator,
.equals {
    background-color: lightcoral;
}

.exp,
.sign,
.percent {
    background-color:  lightgoldenrodyellow;
}